*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --color-black : rgb(2, 2, 2);
    --color-yellow : yellow;
    --color-yellow-orange : rgb(242, 157, 0);
    --color-white : white;
}

body{
    color: white;
    background-color: var(--color-black);
    width: 100%;
    height: 300vh;
} 
/*
This is the header style
====================start header style=======================================
*/
header{
    position:fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5vh 5vh 0vh 5vh;
    background-color: var(--color-black);
    
}
.logo-name{
    width: 10%;
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
}
.logo-name figure a img{
    margin-top: -3vh;
    width: 10vh;
    height: 10vh;
}
.logo-name h1 a {
    text-decoration: none;
    color: var(--color-white);
}
.logo-name h1 a span{
    color: var(--color-yellow-orange);
}
.nav-menu{
    width: 50%;
}
.list-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
.list-menu li a{
    text-decoration: none;
    color: var(--color-white);
}
#home-menu{
    border-bottom: 2px solid var(--color-yellow-orange);
    padding: 0.5vh 0vh 2vh 0vh;
    margin-top: -0.5vh;
}
.list-menu{
    animation: 2s;
}
.single-menu {
    position: relative;
}

.single-menu::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-yellow-orange);
    transition: width 1s ease;
}

.single-menu:hover::before {
    width: 100%;
}

#contact-menu {
    border: 2px solid var(--color-yellow-orange);
    padding: 0.5vh 4vh;
    margin-top: -0.5vh;
    border-radius: 1.5vh 0 0 0;
    height: max-content;
}
#contact-menu a{
    color: var(--color-yellow-orange);
}
#icon-menu img{
    display: none;
}

/*
=============================End header style================================
*/

/*
This is the main style
*/
main{
    width: 100%;
    height: 280vh;
    margin-top: 12.5vh;
}
section{
    margin-left: 10%;
}

/*
===============================Start section for home========================
*/
#section-home{
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid white;
}
#section-home article{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
} 
#home-article-text #home-article-div-text{
    width: 80%;
    height:70%;
    padding-top: 25%;
    line-height: 1.5;
}
#home-article-text #home-article-div-text h2{
    font-size: 5vh;
}
#home-article-text #home-article-div-text p{
    font-size: 2vh;
}
#home-article-text #home-article-div-text h1{
    font-size: 10vh;
}
#home-article-text #home-article-div-btn{
    width: 80%;
    height: 30%;
    padding-top: 5%;
}

#home-article-text #home-article-div-btn .button-start{
    width: 40%;
    padding: 2vh;
    background-color: var(--color-yellow-orange); 
    border: none;
    border-radius: 2vh;
} 
#home-article-text #home-article-div-btn .button-start a{
    text-decoration: none;
    color: var(--color-white);
    font-size: 3vh;
}
#home-article-text #home-article-div-btn .button-start:hover{
    margin-left: 2vh;
    transform: scale(1.2);
    background-color: var(--color-yellow-orange); 
}
#home-article-text #home-article-div-btn .button-start:hover a{
   letter-spacing: 2px;
}
#section-home #home-article-image figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/*
===========================End section for home==============================
*/

@media screen and (max-width: 412px) {
    /*
    =====================start nav-bar=======================================
    */
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-menu{
        width: 15%;
    }
    .logo-name{
        width: 60%;

    }
    .list-menu {
        display: none;
        position: absolute;
        right: 0vh;
        width: 50%;
        height: 50vh;
        background-color: rgba(64, 63, 63, 0.5);
        text-align: center;
    }
    #icon-menu img{
        display: block;
    }
    #icon-menu img {
        width: 4vh; 
        height: 4vh;
    }

    #icon-menu:hover .list-menu {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #contact-menu, #home-menu {
        border: 2px none var(--color-yellow-orange);
    }
    #contact-menu a{
        color: var(--color-white);
    }
    #contact-menu, #home-menu  {
        position: relative;
    }
    
    #contact-menu::before, #home-menu::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: var(--color-yellow-orange);
        transition: width 1s ease;
    }
    #contact-menu:hover::before, #home-menu:hover::before{
        width: 100%;
    }
    /*
    =================================End nav-bar=============================
    */

    /*
    =================================Start section home======================
    */
    #section-home{
        padding: 0;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #section-home article{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    } 
    #section-home #home-article-text{
        height: 70%;
    }
    #home-article-text #home-article-div-text{
        padding-top: 10%;
        width: 100%;
    }
    #home-article-text #home-article-div-btn{
        width: 100%;
        height: 30%;
        padding-top: 10%;
        text-align: center;
    }
    #home-article-text #home-article-div-btn .button-start{
        width: 70%;
        padding: 1vh;
        background-color: var(--color-yellow-orange); 
        border: none;
        border-radius: 1vh;
    } 
    #home-article-text #home-article-div-btn .button-start:hover{
        transform: scale(1.2);
        background-color: var(--color-yellow-orange); 
    }
    #home-article-text #home-article-div-btn .button-start:hover a{
       letter-spacing: 2px;
    }
    #section-home #home-article-image{
        height: 30%;
    }
    /*
    ===================================End section home======================
    */
}
