*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --color-black : rgb(2, 2, 2);
    --color-yellow-orange : rgb(251, 108, 6);
    --color-white : white;
    --color-grey : rgb(45, 42, 42);
}

body{
    color: white;
    background-color: var(--color-black);
    width: 100%;
    height: auto;
} 

/*
This is the header style
====================start header style=======================================
*/
header{
    position:fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}
header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5vh 0vh 0vh 5vh;
    background-color: var(--color-black);
    
}
.logo-name{
    width: 10%;
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
}
.logo-name figure a img{
    margin-top: -3vh;
    width: 10vh;
    height: 10vh;
}
.logo-name h1 a {
    text-decoration: none;
    color: var(--color-white);
}
.logo-name h1 a span{
    color: var(--color-yellow-orange);
}
.nav-menu{
    width: 50%;
}
.list-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
.list-menu li a{
    text-decoration: none;
    color: var(--color-white);
}
#home-menu{
    padding: 0.5vh 0vh 2vh 0vh;
    margin-top: -0.5vh;
    border-bottom: 2px solid var(--color-yellow-orange);
}
#car-menu{
    padding: 0.5vh 0vh 2vh 0vh;
    margin-top: -0.5vh;
    border-bottom: 2px solid var(--color-yellow-orange);
}
#about-menu{
    padding: 0.5vh 0vh 2vh 0vh;
    margin-top: -0.5vh;
    border-bottom: 2px solid var(--color-yellow-orange);
}
.list-menu{
    animation: 2s;
}
.single-menu {
    position: relative;
}

.single-menu::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-yellow-orange);
    transition: width 1s ease;
}

.single-menu:hover::before {
    width: 100%;
}

#contact-menu {
    border: 2px solid var(--color-yellow-orange);
    padding: 0.5vh 4vh;
    margin-top: -0.5vh;
    border-radius: 1.5vh 0 0 0;
    height: max-content;
}
#contact-menu a{
    color: var(--color-yellow-orange);
}
#icon-menu img{
    display: none;
}

/*
=============================End header style================================
*/

/*
This is the main style
*/
#main-home{
    width: 100%;
    height: 180vh;
}

/*
===============================Start section for section home========================
*/
#section-home{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#section-home article{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
} 
#home-article-text #home-article-div-text{
    width: 80%;
    height:60%;
    padding-top: 25%;
    line-height: 1.5;
}
#home-article-text #home-article-div-text h2{
    font-size: 5vh;
}
#home-article-text #home-article-div-text p{
    font-size: 2vh;
}
#home-article-text #home-article-div-text h1{
    font-size: 10vh;
}
#home-article-text #home-article-div-btn{
    width: 80%;
    height: 40%;
    padding-top: 10%;
}

#home-article-text #home-article-div-btn .button-start{
    width: 40%;
    padding: 2vh;
    background-color: var(--color-yellow-orange); 
    border: none;
    border-radius: 2vh;
    transition: transform 2s;
} 
#home-article-text #home-article-div-btn .button-start a{
    text-decoration: none;
    color: var(--color-white);
    font-size: 3vh;
    transition: transform 2s;
}
#home-article-text #home-article-div-btn .button-start:hover{
    transform: scale(1.2);
    background-color: var(--color-yellow-orange); 
}
#home-article-text #home-article-div-btn .button-start:hover a{
   letter-spacing: 2px;
}

#section-home #home-article-image figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/*
===========================End section for home==============================
*/

/*
===========================Start section advantage===========================
*/
#section-advantage{
    text-align: center;
    padding: 0% 5%;
}
#section-advantage h1{
    font-size: 5vh;
    color: var(--color-yellow-orange);
}
#section-advantage article{
    margin-top: 10vh;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.div-advantage{
    width: 30%;
    height: 100%;
    border-radius: 2vh;
    display: flex;
    padding-top: 5vh;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    padding: 5vh;
    border: 0.5px solid white;
    transition: 1s;
}
.div-advantage:hover{
    box-shadow: 2px 2px 5px 5px rgb(129, 127, 127);
    transform: scale(1.1);
}
.logo-advantage{
    background-color: var(--color-yellow-orange);
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    border: 1px solid white;
}
.logo-advantage img{
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: contain;
    border: 1px solid white;
}
.div-advantage h2{
    margin: 5vh 0vh;
}
.div-advantage p{
    font-size: 2vh;
}
#yellow-div-advantage{
    color: var(--color-black);
    background-color: var(--color-yellow-orange);
}
#yellow-logo-advantage{
    background-color: var(--color-black);
}
.animation{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.rectangle{
    width: 10vw;
    height: 10vw;
    border-radius: 2vw;
    background-color: var(--color-yellow-orange);
    position: relative;
    opacity: 0.3;
}
#rectangle-0{
    animation: moveUpDown0 6s infinite linear;
}
#rectangle-1-0{
    animation: moveUpDown1-0 8s infinite linear;
}
#rectangle-1-1{
    position: absolute;
    margin-left: 45%;
    animation: moveUpDown1-1 8s infinite linear;
}

#rectangle-2{
    animation: moveUpDown2 6s infinite linear;
}
@keyframes moveUpDown0 {
    0% {
        top: 150vh;
        transform: rotate(360deg);
    }
    100% {
        top: -50vh;
    }
}
@keyframes moveUpDown1-0 {
    0% {
        top: 120vh;
        transform:rotate(180deg) scale(0.5, 0.5);

    }
    20%{
        transform:scale(1.1);
    }
    40%{
        transform:scale(0.5, 0.5);
    }
    50%{
        transform:scale(0, 0);
    }
    80%{
        transform:scale(1, 1);
        clip-path: polygon(50% 0%, 0% 50%, 50% 100%, 100% 50%);
    }
    100% {
        top: -50vh;
        transform:scale(1, 1);
    }
}
@keyframes moveUpDown1-1 {
    0% {
        top: -50vh;
        transform:rotate(180deg) scale(0.5, 0.5);
    }
    20%{
        transform:scale(1.1);
    }
    40%{
        transform:scale(0.5, 0.5);
    }
    50%{
        transform:scale(0, 0);
    }
    80%{
        transform:scale(1, 1);
        clip-path: polygon(50% 0%, 0% 50%, 50% 100%, 100% 50%);
    }
    100% {
        top: 120vh;
        transform:scale(1, 1);
    }
}

@keyframes moveUpDown2 {
    0% {
        top: 200vh;
        transform: rotate(360deg);
    }
    100% {
        top: -50vh;
    }
}


/*
===========================End section advantage================================
/*
==========================Start section cars===================================
*/
#main-cars{
    width: 100%;
    height: 270vh;
    margin-bottom: 10vh;
}
.section-cars{
    width: 100%;
    height: 270vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel {
    margin-top: 10vh;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    position: relative;
}

.carousel figure{
    display: flex;
    width: 100%;
    height: 50vh;
    animation: carouselAnimation 5s alternate infinite; 
}

.carousel figure img {
    margin-top: -10vh;
    height: auto;
}

@keyframes carouselAnimation {
    0% {
        transform: translateX(0%);
    }
    50%{
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(-100%);
    }
}


.section-cars h1{
    margin: 5vh 0vh 0vh 5vh;
    font-size: 5vh;
    color: var(--color-yellow-orange);
}

.section-cars p{
    margin: 5vh;
    
}
.section-cars .all-cars{
    width: 90vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.form-reservation{
    width: 30%;
    height: 80vh;
    border: 1px solid var(--color-yellow-orange);
    position: sticky;
    top: 13vh;
    border-radius: 2vh;
    align-items: center;
}
.form-reservation h1{
    margin-left: 4vw;
    font-size: 4vh;
}
.form-reservation h1 span{
    color: var(--color-yellow-orange);
    font-size: 4vh;
}
.form-reservation form {
    padding: 0vh 0vh 0vh 2vh;
}
.form-reservation form .label-input-reservation{
    margin: 4vh 0vh;
    width: 90%;
    height:10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.form-reservation form .label-input-reservation input{
    height: 6vh;
    border: 1px solid white;
    border-radius: 0.5vh;
    background-color: transparent;
    color: var(--color-yellow-orange);
}
#btn-reserve{
    width: 15vw;
    height: 7vh;
    margin-left: 4vw;
    background-color: var(--color-yellow-orange);
    border-radius: 1vh;
    border: none;
    opacity: 0.7;
    font-size: 3vh;
    transition: 2s;
}
#btn-reserve:hover{
    opacity: 1;
    font-size: 3.5vh;
    transform: scale(1.2, 1.2);
}
.form-reservation .label-input-reservation .input-duration{
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 0.5vh;
    border: 1px solid white;
    align-items: center;
}
.car-description{
    width: 65%;
    height: 200vh;
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 5vh ;
}

.its-car {
    width: 90%;
    height: 45vh;
    background-color: rgba(239, 130, 28, 0.5);
    position: relative; 
    overflow: hidden; 
    border-radius: 2vh;
}

.drivers-info {
    width: 100%;
    height: 100%;
    position: absolute; 
    background-color: rgba(239, 130, 28, 0.5);
    top: 0;
    left: 0;
    opacity: 0;
    transition:  2s ease;
}
.its-car:hover .drivers-info {
    opacity: 1; 
    border-radius: 2vh;
    border: 1px solid var(--color-yellow-orange);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.its-car:hover  .its-car-information{
    display: none;
}
.driver-profil{
    width: 20vh;
    height: 20vh;
    border: 1px solid var(--color-yellow-orange);
    border-radius: 50%;
    margin-left: 9vw;
}
.driver-profil figure img{
    border-radius: 50%;
}

.driver-description{
    width: 90%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    margin-left: 3vh;
    line-height: 1.5;
    padding: 2vh;
}
.driver-description label{
   color: var(--color-yellow-orange);
}
#reservation-btn{
    background-color: var(--color-yellow-orange);
    width: 10vw;
    height: 5vh;
    border-radius: 1vh;
    border: none;
    margin-top: 2vh;
    margin-left: 10vh;
}
#reservation-btn a{
    text-decoration: none;
    color: white;
    font-size: 3vh;
}
.its-car figure img {
    width: 100%;
    height: 20vh;
    object-fit: contain;
}

.its-car-information {
    margin-left: 5%;
    width: 90%;
    height: 23vh; 
}
.its-car-information {
    text-align: center;
}
.its-car-information h1{
    margin-top: -2vh;
    font-size: 4vh;
    color: var(--color-white);
}
.its-car-information-in {
    width: 100%;
    height: 80%; 
    display: flex;
    flex-direction: row;
    background-color: rgba(5, 5, 5, 0.5);
    margin-top: 2vh;
}
.its-car-information-in  .option, .price{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 2vh;
    text-align: left;
    color: var(--color-white);
    margin-left: 2vh;
}
.its-car-information-in  .option{
    width: 40%;
}
.its-car-information-in  .price{
    width: 60%;
    text-align: right;
    padding-right: 2vh;
}
.its-car-information-in  div h3{
    font-weight: 1;
}
.its-car-information-in  div span{
    font-size: 3vh;
    color: var(--color-yellow-orange);
    opacity: 2;
    font-weight: 1;
}


/*
==========================End section cars===================================
*/

/*
==========================Start section about us============================
*/
#main-about-us{
    margin-top: 12.5vh;
    width: 100%;
    height: auto;
}
#main-about-us .about-us{
    margin-top: 70vh;
    width: 100%;
    height: 140vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#about-us-intro{ 
    position: absolute;
    margin-top: -45vh;
    width: 90%;
    height: 50vh;
    line-height: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid var(--color-yellow-orange);
    padding: 2vh;
    border-radius: 2vh;
}
#about-us-intro #text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
    padding-left: 2vh ;
}
#about-us-intro #text h1{   
    position: sticky;
    top: 0;
    color: var(--color-yellow-orange);  
    background-color: rgba(0, 0, 0);
    width: 100%;
    font-size: 5vh;
}
#about-us-intro #text p{
    height: 100%;
}

#about-us-intro #our-team{
    width: 40%;
    height: 100%;
}
#about-us-intro #our-team figure{
    object-fit: contain;
}
#about-us-intro #our-team figure img{
    width: 100%;
    height: 100%;
}

#main-about-us article{
    margin-top: 30vh;
    width: 45vw;
    height: 100vh;
    display: flex;
    flex-direction: inherit;
    justify-content: space-around;
}
#main-about-us article .block-porfil{
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main-about-us article .block-porfil .div-profil{
    width: 20vw;
    height: 48%;
    background-color: rgba(255, 123, 0, 0.7);
    border-radius: 2vh; 
}

.profil-photo{
    width: 100%;
    height: 60%;
    border-radius: 2vh;
}
.profil-photo figure img{
    width: 20vw;
    height: 30vh;
    border-radius: 2vh 2vh 0vh 0vh;
    object-fit: cover;
}
.profil-description{
    width: 100%;
    height: 35%;
    text-align: center;
    padding-top: 4vh;
}
.profil-description h1{
    margin: 1vh 0 1vh 0;
}
.profil-description {
    position: relative;
}
.profil-description .reseau-sociaux figure{
   width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5vh;
}
.profil-description .reseau-sociaux figure img{
    width: 5vh;
    height: 5vh;
}
.profil-description .reseau-sociaux {
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 30%;
    opacity: 0;
    transition: top 0.5s ease, opacity 1s ease; 
    z-index: 1; 
}

.profil-description:hover .reseau-sociaux {
    top: 2vh;
    opacity: 1; 
    border-radius: 2vh;
}
.profil-description:hover h1, .profil-description:hover p {
   display: none;
}



.form-join-us{
    border: 1px solid var(--color-yellow-orange); 
    border-radius: 2vh;
}
.form-join-us h1{
    font-size: 6vh;
    margin-top: 2vh;
    text-align: center;
}
.form-join-us h1 span{
    color: var(--color-yellow-orange);
}
.form-join-us form{
    width: 100%;
    padding-left: 2vh;
}
.form-join-us form aside{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-bottom: 2vh;
}
.form-join-us form aside .label-input{
    margin-top: 3vh;
    width: 21vw;
    height: 12vh;
    line-height: 2;
}

.form-join-us .label-input .input-champ{
    background-color: transparent;
    width: 20vw;
    height: 5vh;
    color: white;
    padding-left: 1vh;
    border: none;
    /* box-shadow: 1px 1px 1px 1px rgb(255, 163, 15); */
    border-radius: 0.5vh;
    border: 1px solid white;
}
#label-input-gender div{
    height: 5vh;
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* box-shadow: 1px 1px 1px 1px rgb(255, 163, 15); */
    border-radius: 0.5vh;
    border: 1px solid white;
}
#question-input{
    margin: 2vh 0vh 0vh 0vh;
    width: 43vw;
    height: 10vh;
    color: white;
    border-radius: 0.5vh;
    border: 1px solid white;
    background-color: transparent;
    padding: 2vh;
}
.form-join-us form button{
    width: 15vw;
    height: 7vh;
    margin-top: 5vh;
    margin-left: 4vw;
    background-color: var(--color-yellow-orange);
    border-radius: 1vh;
    border: none;
    opacity: 0.7;
    font-size: 3vh;
    transition: 2s;
}
.form-join-us form button:hover{
    opacity: 1;
    font-size: 3.5vh;
    transform: scale(1.2, 1.2);
}
/*
==========================End section about us=============================
*/
/*
===================================Start booking==========================
*/
.section-booking{
    width: 100%;
    height: 130vh;
    margin-bottom: 10vh;
    padding: 5%;
}
.section-booking h1{
    margin-top: -5vh;
    margin-bottom: 5vh;
    text-align: center;
    font-size: 5vh;
    color: var(--color-yellow-orange);
}
.client-message{
    padding: 2vh;
    width: 100%;
    height: 26vh;
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
}
.client-profil{
    width: 100%;
    height: 24vh;
    border: 5px solid rgb(254, 123, 0, 0.5);
}
.client-profil-name{
    width: 50%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2vh;
    margin-bottom: 2vh;
    
}
.profil-img figure img {
    width: 7vh;
    height: 7vh;
    /* border: 1px solid rgb(167, 33, 33); */
    border-radius: 50%;
}
.client-name{
    padding: 2vh 0 0 2vh;
    width: 50vh;
    height: 7vh;
    /* border: 1px solid rgb(167, 33, 33); */
    object-fit: cover;
}
.client-text-rate{
    display: flex;
    flex-direction: row;
    padding-bottom: 2vh;
}
.client-txt{
    width: 80%;
    height: 10vh;
    /* border: 1px solid rgb(176, 169, 169); */
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2vh;
    overflow-y: scroll;
    overflow-x : hidden;
}
.client-txt::-webkit-scrollbar {
    width: 1vh; 
}

.client-txt::-webkit-scrollbar-thumb {
    background-color: var(--color-yellow-orange); 
}

.client-txt::-webkit-scrollbar-track {
    background-color: var(--color-black); 
    border: 1px solid var(--color-white);
}


.client-rate{
    width: 20%;
    height: 10vh;
    /* border: 1px solid rgb(255, 255, 255); */
    text-align: right;
    padding: 2vh;
   
}
/*
===================================End booking=============================
*/
/*
===========================Start footer===========================
*/
footer{
    width: 100%;
    height: 20vh;    
}
footer nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.all-menu{
    width: 50%;
    display: inherit;
    justify-content: end;
}
.all-menu ul{ 
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.all-menu ul li{
    list-style: none;
}
.all-menu ul li a{
    text-decoration: none;
    color: white;
}
.account{
    width: 20%;
}
.account figure{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.account figure img{
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    margin-top: -2vh;
}

/*
===========================End footer================================
*/



@media screen and (max-width: 412px) {
    /*
    =====================start nav-bar=======================================
    */
    body{
        margin-top: 15vh;
    }
    nav{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .nav-menu{
        width: 10%;
        margin-right: 2vh;
    }
    .logo-name{
        width: 60%;
    }
    .list-menu {
        display: none;
        position: absolute;
        right: 2vh;
        width: 50%;
        height: 50vh;
        background-color: rgba(9, 5, 0, 0.8);
        text-align: center;
        border: 1px solid var(--color-yellow-orange);
    }
    #icon-menu img{
        display: block;
        width: 4vh; 
        height: 4vh;
    }
  
    #icon-menu:hover .list-menu {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #contact-menu, #home-menu {
        border: 2px none var(--color-yellow-orange);
    }
    #contact-menu a{
        color: var(--color-white);
    }
    #contact-menu, #home-menu  {
        position: relative;
        border-bottom: 2px solid var(--color-yellow-orange);
    }
    
    #contact-menu::before, #home-menu::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: var(--color-yellow-orange);
        transition: width 1s ease;
    }
    #contact-menu:hover::before, #home-menu:hover::before{
        width: 100%;
    }
    /*
    =================================End nav-bar=============================
    */
   
    /*
    =================================Start section home======================
    */
    #main-home{
        width: 100%;
        height: 380vh;
    }
    #section-home{
        padding: 0;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #section-home article{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    } 
    #section-home #home-article-text{
        height: 70%;
        padding-left: 5%;
    }
    #home-article-text #home-article-div-text{
        padding-top: 10%;
        width: 100%;
        text-align: center;
    }
    #home-article-text #home-article-div-btn{
        width: 100%;
        height: 30%;
        padding-top: 10%;
        text-align: center;
    }
    #home-article-text #home-article-div-btn .button-start{
        width: 70%;
        padding: 1vh;
        background-color: var(--color-yellow-orange); 
        border: none;
        border-radius: 1vh;
    } 
    #home-article-text #home-article-div-btn .button-start:hover{
        transform: scale(1.2);
        background-color: var(--color-yellow-orange); 
    }
    #home-article-text #home-article-div-btn .button-start:hover a{
       letter-spacing: 2px;
    }
    #section-home #home-article-image{
        height: 30%;
    } 
    /*
    ===================================End section home======================
    */ 
    /*
    )=================================Start section advantage================
    */

    #section-advantage{
        margin-top: 10vh;
        width: 100%;
        height: 340vh;
    }
    #section-advantage article{
        padding: 0;
        height: 260vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .div-advantage{
        width: 100%;
        height: 80vh;
    }
    .div-advantage:hover{
        width: 100%;
        height: 72vh;
    }
    /*
    )=================================End section advantage==================
    */
     /*
    ===================================Start about us========================
    */
    #main-about-us{
        width: 100vw;
        height: 540vh;
        margin-bottom: 10vh;
    }
    .about-us #about-us-intro{
        width: 90%;
        top: 60vh;
        font-size: 2vh;
        margin-left: 5%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
    }
    .about-us #about-us-intro #text, #our-team{
        width: 100%;
        padding: 0;
        height: 100%;
    }
    .about-us #about-us-intro #our-team{
        display: none;
    }
    .about-us #about-us-intro #text h1{
        width: 100%;
        top: -1vh;
    }
    .about-us #about-us-intro #text p{
        margin-top: 10vh;
        width: 100%;
        height: 100%;
    }
    
    #main-about-us .about-us{
        display: flex;
        flex-direction: column;
        height: 400vh;
        width: 100vw;
    }
    #main-about-us .about-us article{
        margin-left: 5%;
        width: 90vw;
        height: 260vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5vh;
    }
    
    #main-about-us .about-us article aside{
        width: 90vw;
        height: 100vh;
    }
    .div-profil .profil-photo figure img {
        width: 80vw;
    }
    .div-profil .profil-description{    
        width:80vw;
        /* border: 1px solid rgb(182, 68, 68); */
    }
    #main-about-us article .block-porfil .div-profil{
        width: 80vw;
        height: 48%;
        margin-left: 5vw;
    }

    .form-join-us{
        width: 90vw !important;
        height: 180vh !important;
        border: 1px solid var(--color-yellow-orange);
    }
    .form-join-us form aside{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5vh;
    }
    .form-join-us form aside .label-input{
        width: 90%;
        margin-left: 2vh;
        /* border: 1px solid white; */
    }
    .form-join-us form aside .label-input .input-champ{
        width: 90%;
    }
    #label-input-gender div{
        width: 90%;
        border: 1px solid white !important;
    }
    #question-label{
        margin-left: 2vh;
    }
    #question-input{
        margin-left: 2vh;
        width: 90%;
    }
    .form-join-us form button{
        width: 40%;
        margin-bottom: 2vh;
    }
    /*
    ===================================End about us==========================
    */
     /*
    ===================================Start booking==========================
    */
    .section-booking{
        width: 100%;
        height: 120vh;
        margin-top: 10vh;
        text-align: center;
    }
   
    .client-message{
        height: 30vh;
    }
    .client-profil-name{
        width: 100%;
    }
    .client-text-rate{
        display: flex;
        flex-direction: column;
    }
    .client-txt{
        width: 100%;
        overflow-y: scroll;
    }
    .client-rate{
        width: 100%;
    }
    /*
    ===================================End booking=============================
    */
    /*
    ===================================Start car=============================
    */
    #main-cars{
        width: 100vw;
        height: 560vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .carousel{
        height: 35vh;
        margin-top: -10vh;
    }
    @keyframes carouselAnimation {
        0% {
            transform: translateX(0%);
        }
       
        100% {
            transform: translateX(-200%);
        }
    }
    .section-cars{
        width: 100%;
        height: 600vh;
        display: inherit;
    }
    .section-cars .all-cars{
        display: inline;
        justify-content: space-around;
        height: 500vh;
        width: 100%;
    }
   .form-reservation{
        width: 90vw;
        height: 80vh;
        border: 1px solid var(--color-yellow-orange);     
        position: inherit;
        margin-bottom: 10vh;
        margin-left: 5vw;
    }
    #btn-reserve{
        width: 40vw;
        margin-left: 24vw;
    }
    .car-description{
        width: 100%;
        height: 410vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 3vh;
    }
    .its-car-information h1{
        margin-left: -5vh;
    }
    #reservation-btn{
        width: 40vw;
    }
    
    .driver-description{
        margin-left: 1.5vh;
    }
    .driver-profil{
        margin-left: 9vh;
    }

    /*
    ===================================End car=============================
    */
    /*
    ==================================Start footer===========================
    */
    footer {
        width: 80vw;
        height: 20vh;
        margin-left: 10vw;
    }
    footer nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    footer nav .logo-name{
        width: 60%;
        height: 5vh;
    }
    footer nav .all-menu{
       width: 90%;
       padding: 2vh 0vh;
       margin-top: 5vh;
       display: flex;
       flex-direction: row;
       justify-content: space-around;
    }
    footer nav .all-menu ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
     }
    footer nav .account {
       width: 60%;
       padding-top: 2vh;
       margin: 5vh 0vh;
    }
    footer nav .account figure{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    /*
    ==================================End footer=============================
    */

   
}
